@page
@{
    ViewData["Title"] = "ErrorPage";
}

<h2>Error Loading Resources, scream into the void for assistance.</h2>
<img src="@Url.Content("images/unknown.png")" alt="statusimage" class="center"/>
<style>
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>