@{
    ViewData["Title"] = "Home";
}
<div class="container">
    <div class="row">
        <div class="col-md-6"> @Html.ActionLink("Link to Index action of Ec2Manager controller", "Index", "Ec2Manager")</div>
        <div class="col-md-6">@Html.ActionLink("Link to Index action of RdsManager controller", "Index", "RdsManager")</div>
        <div class="col-md-6">@Html.ActionLink("Link to Index action of RdsManager controller", "Index", "AsgManager")</div>
    </div>
</div>