@using Ec2Manager.Views.Ec2Manager
@model ErrorModel
@{
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
    ViewData["Title"] = "Error";
}
<div class="text-center">
    <img class="figure-img" src="~/images/unknown.png" />
    <h1 class="text">WOMP! WOMP!</h1>
</div>
<div>
    <h2 class="text">Something went wrong!</h2>
    <strong>Please try again, if it continues please send a detailed message of whats occuring to your Administrator.</strong>
    <br />
    <strong>Error Message: @Model.ErrorMessage</strong>
</div>